
/* GENERAL STYLES */


body {
  background-color: #FAF7EF;
  font-family: 'Slabo 13px', serif;
}

.text-area {
  color: #323339;
  font-size: 105%;
}

a.orange-text {
  font-family: 'Slabo 13px', serif;
  font-size: 105%;
  color: #E48D37;
  font-weight: bold;
  text-align: right;
}
a {
  font-family: 'Slabo 13px', serif;
  font-size: 100%;
  color: #5F9E6A;
  text-decoration: none;
}
a:hover {
  font-family: 'Slabo 13px', serif;
  font-size: 100%;
  color: #5F9E6A;
  text-decoration: underline;
}
.left-float {
  float: left;
}

.right-float {
  float: right;
}

.centered {
  text-align: center;
}
.lefted {
  text-align: left;
}
.righted {
  text-align: right;
}
p {
  margin-top: 2%;
  margin-bottom: 2%;
  display: block;
}
.title-date {
  font-family: 'Slabo 13px', serif;
  font-size: 130%;
  color: #5F9E6A;
  font-weight: bolder;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.green-text {
  font-family: 'Slabo 13px', serif;
  font-size: 130%;
  color: #5F9E6A;
  font-weight: bolder;
}
.strong-text {
  font-family: 'Slabo 13px', serif;
  color: #323339;
  font-weight: bolder;
}

.orange-text {
  font-family: 'Slabo 13px', serif;
  font-size: 105%;
  color: #E48D37;
  font-weight: bold;
  font-spacing: 2px;
}
.divider {
  width: 50%;
  display: block;
  margin: 20px auto;
}

.home-img {
  border: 2px solid  #323339;
  border-radius: 10px;
  box-shadow: 0px 0px 4px #E48D37;
}
.blog-content {
  display: none;
}
.about-content {
  display: none;
}

/* HEADER STYLES */
#header {
  margin-top: 3%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
  min-height: 140px;
}

#nav-buttons {
  font-size: 130%;
  font-weight: bold;
  background-color: #FAF7EF;
  padding: 15px auto;
  margin: 5px 5px;
  border: 2px solid  #323339;
  border-radius: 5px;
}

.title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
}
.title-img {
  margin: auto;
  display: block;
}

/* CONTENT STYLES */
#plant-right {
  position: fixed;
  display: none;
}
#plant-left {
  position: fixed;
  margin-top: 50px;
  display: none;
}
.plant-img {
  width: 70%;
  margin-left: auto;
	margin-right: auto;
	display: block;
}
.about-content {
  min-height: 250px;
}
#content {
  margin-top: 0;
  padding: 2%;
  border: 2px solid  #323339;
  border-radius: 10px;
  z-index: 1;
  box-shadow: 0px 0px 4px #E48D37;
  position: relative;
}

.me-img {
  border: 2px solid  #323339;
  border-radius: 10px;
  float: right;
}


@media (max-width: 978px) {
  #content {
     margin-top: 13%;
     margin-bottom: 2%;
     margin-left: 2%;
     margin-right: 2%;
  }
}
@media (max-width: 850px) {
  #content {
     margin-top: 11%;
  }
}
@media (max-width: 650px) {
  #content {
     margin-top: 8%;
  }
}
@media (max-width: 450px) {
  #content {
     margin-top: 17%;
     margin-bottom: 2%;
     margin-left: 2%;
     margin-right: 2%;
  }
  #nav-buttons {
    display: block;
    width: 100%;
  }

}
