
/* GENERAL STYLES */
body {
  background-color: #FAF7EF;
  font-family: 'Slabo 13px', serif;
}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

p {
  margin-top: 10px;
  margin-bottom: 2px;
  display: block;
}

/* POSITIONING */

.left-float {
  float: left;
}
.right-float {
  float: right;
}
.centered {
  text-align: center;
}
.lefted {
  text-align: left;
}
.righted {
  text-align: right;
}

/* OVERALL TEXT STYLES */

.text-area {
  color: #323339;
  font-size: 102%;
}

.strong-text {
  font-family: 'Slabo 13px', serif;
  color: #323339;
  font-weight: bolder;
}

a {
  font-family: 'Slabo 13px', serif;
  font-size: 100%;
  color: #5F9E6A;
  text-decoration: none;
}
a:hover {
  font-family: 'Slabo 13px', serif;
  font-size: 100%;
  color: #5F9E6A;
  text-decoration: underline;
}

.green-text {
  font-family: 'Slabo 13px', serif;
  font-size: 130%;
  color: #5F9E6A;
  font-weight: bolder;
}

a.green-text: {
  font-family: 'Slabo 13px', serif;
  font-size: 130%;
  color: #5F9E6A;
  font-weight: bolder;
}

a.orange-text {
  font-family: 'Slabo 13px', serif;
  font-size: 105%;
  color: #E48D37;
  font-weight: bold;
  text-align: right;
}

.orange-text {
  font-family: 'Slabo 13px', serif;
  font-size: 105%;
  color: #E48D37;
  font-weight: bold;
  font-spacing: 2px;
}

.divider {
  width: 50%;
  display: block;
  margin: 20px auto;
}

/* HEADER STYLES */
#header {
  margin-top: 3%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
  min-height: 140px;
}

#nav-buttons {
  font-size: 130%;
  font-weight: bold;
  background-color: #FAF7EF;
  padding: 15px auto;
  margin: 5px 5px;
  border: 2px solid  #323339;
  border-radius: 5px;
}

.title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
}

.title-img {
  margin: auto;
  display: block;
}

/* CONTENT STYLES */

#plant-right {
  position: fixed;
  display: none;
}

#plant-left {
  position: fixed;
  margin-top: 50px;
  display: none;
}

.plant-img {
  width: 70%;
  margin-left: auto;
	margin-right: auto;
	display: block;
}

#content {
  margin-top: 0;
  padding: 2%;
  border: 2px solid  #323339;
  border-radius: 10px;
  z-index: 1;
  box-shadow: 0px 0px 4px #E48D37;
  position: relative;
}

.home-img {
  border: 2px solid  #323339;
  border-radius: 10px;
  box-shadow: 0px 0px 4px #E48D37;
}

.blog-content {
  display: none;
}

.about-content {
  display: none;
  min-height: 250px;
}

.project-content {
  display: none;
}

/* PAGE STYLING */
.title-date {
  font-family: 'Slabo 13px', serif;
  font-size: 130%;
  color: #5F9E6A;
  font-weight: bolder;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.me-img {
  border: 2px solid  #323339;
  border-radius: 10px;
  float: right;
}

.project-img {
  border: 2px solid  #323339;
  border-radius: 10px;
  margin-left: auto;
	margin-right: auto;
	display: block;
}

/* MEDIA QUERIES */

@media (max-width: 978px) {
  #content {
     margin-top: 13%;
     margin-bottom: 2%;
     margin-left: 2%;
     margin-right: 2%;
  }
}
@media (max-width: 850px) {
  #content {
     margin-top: 11%;
  }
}
@media (max-width: 650px) {
  #content {
     margin-top: 8%;
  }
}
@media (max-width: 450px) {
  #content {
     margin-top: 17%;
     margin-bottom: 2%;
     margin-left: 2%;
     margin-right: 2%;
  }
  #nav-buttons {
    display: block;
    width: 100%;
  }
  img.me-img {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

}
