
/* GENERAL STYLES */
body {
  background-color: #FAF7EF;
  font-family: 'Slabo 13px', serif;
  padding-top: 140px;
  max-width: 100%;
  overflow-x: hidden;
}

.text-area {
  color: #323339;
  font-size: 105%;
}

.centered {
  text-align: center;
}
.lefted {
  text-align: left;
}
.righted {
  text-align: right;
}
p {
  margin: 0;
}

.green-text {
  font-family: 'Slabo 13px', serif;
  font-size: 130%;
  color: #5F9E6A;
  font-weight: bolder;
}
.strong-text {
  font-family: 'Slabo 13px', serif;
  color: #323339;
  font-weight: bolder;
}

.orange-text {
  font-family: 'Slabo 13px', serif;
  font-size: 105%;
  color: #E48D37;
  font-weight: bold;
}
.divider {
  width: 50%;
  margin: 20px;
  display: block;

}

.home-img {
  border: 2px solid  #323339;
  border-radius: 10px;
  box-shadow: 0px 0px 4px #E48D37;
}

.blog-content {
  display: none;
}
.about-content {
  display: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  transition: top 0.2s ease-in-out;
  height: 140px;
  margin-top: 20px;
  width: 100%;
  z-index: 10;
}
/* HEADER STYLES */

.nav-up {
  top: -150px;
}

#nav-buttons {
  font-size: 130%;
  font-weight: bold;
  background-color: #FAF7EF;
  padding: 15px auto;
  margin: 2px 5px;
  border: 2px solid  #323339;
  border-radius: 5px;
}

.title {
  text-align: center;
  /* margin-left: auto;
  margin-right: auto; */
}
.title-img {
  margin: auto;
  display: block;
}

/* CONTENT STYLES */
#plant-right {
  position: fixed;
  display: none;
}
#plant-left {
  position: fixed;
  margin-top: 50px;
  display: none;
}
.plant-img {
  width: 70%;
  margin-left: auto;
	margin-right: auto;
	display: block;
}
.about-content {
  min-height: 250px;
}
#content {
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 2%;
  border: 2px solid  #323339;
  border-radius: 10px;
  z-index: 1;
  box-shadow: 0px 0px 4px #E48D37;
  position: relative;
}

.me-img {
  border: 2px solid  #323339;
  border-radius: 10px;
  float: right;
}
